<?xml version="1.0"?>

<model>
  <name>collision</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>damoun ayman</name>
    <email>damounayman@gmail.com</email>
  </author>

  <author>
    <name>damounayman</name>
  </author>

  <description>
    la collision pour l'envirenement
  </description>
</model>
